html
{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
    background-color: rgb(245, 241, 237);
}

body
{
    font-family: Helvetica;
    background-color: rgb(245, 241, 237);
}

a
{
    color:rgb(54, 155, 121);
    text-decoration: none;
}

a:hover
{
    color:rgb(72, 204, 160)
}

#brand
{
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#label
{
    font-size: 70px;
    font-family: Lobster;
    color:rgb(67, 187, 147);
    text-shadow: 2px 2px 0 black;
}

#title
{
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  }

.navbar-light .navbar-nav .nav-link {
    color:rgb(54, 155, 121)
}

.navbar-light .navbar-nav .nav-link:hover {
    color:rgb(80, 221, 174);
}

.navbar-brand {
    font-family: Lobster;
    text-shadow: 1px 1px 0 black;
}

.stickytop {
    position: -webkit-sticky;
    position: sticky;
}