{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div id = "title">
    <h1 id = "label">Expensheet </h1>
    <h2>An easy way to keep track of your expenses</h2>
</div>  

<nav class = "navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Expensheet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>    
    <div class = "collapse navbar-collapse" id = "navbarNav" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id = "nav-list">
            <li class="nav-item">
                <a class="nav-link" href = "/insert">Insert</a>
            </li>
                
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href = "/plan">Plan</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href = "/analyse">Analyse</a>
            </li>
        </ul>
    </div>
</nav>
    
<p style = "text-align: end">You are logged in as: {{email}}</p>

<h3 style = "text-align: center">Your spending:</h3>

<div class = "container-fluid">
    <table class = "table table-striped table-hover">
        <thead>
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Total expenses</th>
                <th>Total budget</th>
                <th>Saving planned</th>
                <th>To spend</th>
                <th>Actually saved</th>
            </tr>
        </thead>

        <tbody>
            {% for x in range(all_queries_plan | length) %}
            <tr>
                <th>{{ all_queries_plan[x][1] }}</th>
                <th>{{ all_queries_plan[x][2] }}</th>
                <th>{{ payments[x][0] }}</th>
                <th>{{ all_queries_plan[x][3] }}</th>
                <th>{{ all_queries_plan[x][4] }}</th>
                <th>{{ all_queries_plan[x][3] - payments[x][0] - all_queries_plan[x][4] }}</th>
                <th>{{ all_queries_plan[x][3] - payments[x][0] }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}