{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div class = "stickytop">
    <div id = "title">
        <h1 id = "label">Expensheet </h1>
        <h2>An easy way to keep track of your expenses</h2>
    </div>  
</div> 

    <h4> Please log in in order to see your data.</h4>
    <form action="/login", method = "post">
        <div>
            <input autocomplete="off", autofocus, name="email", placeholder="You@domain.com" type="email">
        </div>

        <div>
            <input autocomplete="off", name="password", placeholder="Your password", type="password">
        </div>

        <div>
            <button type = "submit">Login</button>
        </div>
    </form>
{% endblock %}