{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <h1>Expensheet!</h1>
    <h3>An easy way to manage and keep track of your expenses!</h3>


    <h4> Please log in in order to see your data.</h4>
    <form action="/login", method = "post">
        <div>
            <input autocomplete="off", autofocus, name="email", placeholder="You@domain.com" type="email">
        </div>

        <div>
            <input autocomplete="off", name="password", placeholder="your password", type="password">
        </div>

        <div>
            <button type = "submit">Login</button>
        </div>
    </form>
{% endblock %}