{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div class = "stickytop">
    <div id = "title">
        <h1 id = "label">Expensheet </h1>
        <h2>An easy way to keep track of your expenses</h2>
    </div>  
</div> 

    <h4 style = "text-align: center"> Please log in in order to see your data.</h4>
    <div>
        <form action="/login", method = "post">
            <div class = "row g-2 align-items-center" style = "padding-top: 20px; padding-bottom: 20px;">
                <div class = "col-4" style = "text-align: end;">
                    <label for = "email">Email:</label>
                </div>

                <div class = "col-2">
                    <input autocomplete="off", autofocus, name="email", placeholder="You@domain.com", id="email", type="email">
                </div>

                <div class = "col-1" style = "text-align: end;">
                    <label for = "password">Password:</label>
                </div>

                <div class = "col-5"> 
                    <input autocomplete="off", name="password", placeholder="Your password", type="password", id="password">
                </div>

            </div>

            <div class = "d-grid col-3 mx-auto">
                <button type = "submit" style = "color:rgb(54, 155, 121)" class="btn btn-outline-dark">Login</button>
            </div>        
        </form> 
    </div>  
{% endblock %}