{% extends "layout.html" %}

{% block title %}
    Plan
{% endblock %}

{% block main %}
<h1>Expensheet!</h1>
    <h3>An easy way to manage and keep track of your expenses!</h3>
    <h4>You are logged in as: {{email}}</h4>

    <nav>

        <form action = "/insert" method = "GET">
            <button type = submit>Insert</button>
        </form>

        <form action = "/plan" method = "GET">
            <button type = submit>Plan</button>
        </form>

        <form action = "/analyse" method = "GET">
            <button type = submit>Analyse</button>
        </form>
    </nav>

    <h3>Your spending plan:</h3>

    <h4>Enter an additional month:</h4>
    <form action = "/plan" method = "POST">
        <label for = "month">Month:</label>
        <select id = "month" name = "month">
            <option value = {{ month }} selected>{{ month }}</option>
            {% for i in range (1, 13) %}
                <option value = {{ i }}>{{ i }}</option>
            {% endfor %}
        </select>
        <label for = "year">Year:</label>
        <input id="year" name= "year" type = "number" placeholder = "Year">
        <label for = "salary">Salary: (if left empty last months will be used)</label>
        <input type = "number" name = "salary" min = "0.00" step = "0.01" id = "salary">
        <label for = "saving">Saving planned: (if left empty last months will be used)</label>
        <input type = "number" name = "saving" min = "0.00" step = "0.01" id = "saving">

        <button type = "submit">Add Plan</button>    
    </form>



    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Total expenses</th>
                <th>Total budget</th>
                <th>Saving planned</th>
                <th>To spend</th>
                <th>Actually saved</th>
            </tr>
        </thead>

        <tbody>
            {% for x in range(all_queries_plan | length) %}
            <tr>
                <th>{{ all_queries_plan[x][1] }}</th>
                <th>{{ all_queries_plan[x][2] }}</th>
                <th>{{ payments[x][0] }}</th>
                <th>{{ all_queries_plan[x][3] }}</th>
                <th>{{ all_queries_plan[x][4] }}</th>
                <th>{{ all_queries_plan[x][3] - payments[x][0] - all_queries_plan[x][4] }}</th>
                <th>{{ all_queries_plan[x][3] - payments[x][0] }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}